.wrapper {
  position: relative;
  display: block;
  width: 100%;
  max-width: 312px;

  .selected {
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 24px;
    background-color: var(--color-black-7);
    border-bottom: 1px solid var(--color-black-4);
    cursor: pointer;

    .info {
      margin-left: 16px;
    }

    .arrow-icon {
      margin-left: auto;
      color: var(--color-black-4);
    }
  }

  .sub-wrapper {
    height: 0;
    background-color: var(--color-black-7);
    transform: translateY(-20px);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
  }

  .opened {
    position: absolute;
    top: 100px;
    right: 0;
    left: 0;
    height: max-content;
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
  }

  .wrap {
    padding: 8px 24px;
    transition: all 0.257s linear;

    &:hover {
      background-color: var(--color-black-5);
    }
  }
}
