:global(.toast-content) {
  display: flex;
  gap: 3px;
  align-items: center;
}

:global(.toast-title) {
  margin-bottom: 8px !important;
}

:global(.ant-message-notice .ant-message-notice-content) {
  background: var(
    --glass-fill,
    linear-gradient(
      145deg,
      rgba(215, 237, 237, 0.16) 0%,
      rgba(204, 235, 235, 0) 100%
    )
  ) !important;
  border-top: 1px solid var(--glass-stroke, rgba(255, 255, 255, 0.08)) !important;
  border-radius: 8px !important;
  box-shadow: 0 3px 15px var(--color-black-5) !important;
  backdrop-filter: blur(10px);
}

:global(.add-title .ant-message-custom-content) {
  align-items: flex-start !important;
}

:global(.ant-message-custom-content) {
  display: flex !important;
  gap: 16px !important;
  align-items: center !important;
  font-weight: 500 !important;
}

:global(.ant-message-error span) {
  &:first-child {
    path {
      filter: drop-shadow(0 4px 6px rgba(189, 59, 58, 0.16))
        drop-shadow(0 10px 15px rgba(189, 59, 58, 0.16));
    }
  }
}

:global(.ant-message-notice-info .ant-message-notice-content) {
  border: 3px solid var(--color-toast-info-07) !important;
  box-shadow: none !important;
}

:global(.ant-message-notice-warning .ant-message-notice-content) {
  border: 3px solid var(--color-toast-warning-06) !important;
  box-shadow: none !important;
}

:global(.ant-message-notice-error .ant-message-notice-content) {
  border: 3px solid var(--color-toast-error-07) !important;
  box-shadow: none !important;
}

:global(.ant-message-notice-success .ant-message-notice-content) {
  border: 3px solid var(--color-toast-success-07) !important;
  box-shadow: none !important;
}
