.wrapper {
  position: relative;
  display: block;
  box-sizing: border-box;
  width: 48px;
  height: 48px;

  .user {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
  }

  .status {
    position: absolute;
    top: -2px;
    right: -2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: var(--color-black-7);
    border-radius: 50%;

    .shape {
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }

    .online {
      background-color: var(--color-electric-green-2);
      box-shadow: 0 0 12px 0 var(--color-electric-green-2);
    }

    .offline {
      background-color: var(--color-black-5);
      box-shadow: 0 0 12px 0 var(--color-black-5);
    }

    .busy {
      position: relative;
      background-color: var(--color-red-power-2);
      box-shadow: 0 0 12px 0 var(--color-red-power-2);

      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 4px;
        height: 4px;
        background-color: var(--color-black-7);
        border-radius: 50%;
        transform: translate(-50%, -50%);
        content: '';
      }
    }

    .sleep {
      position: relative;
      background-color: var(--color-happy-orange-2);
      box-shadow: 0 0 12px 0 var(--color-happy-orange-2);

      &::after {
        position: absolute;
        top: 34%;
        left: 62%;
        display: block;
        width: 8px;
        height: 8px;
        background-color: var(--color-black-7);
        border-radius: 50%;
        transform: translate(-50%, -50%);
        content: '';
      }
    }
  }
}
