.wrapper {
  display: block;

  .selected {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: transparent;
    cursor: pointer;

    .info {
      margin-left: 16px;
    }

    .arrow-icon {
      margin-left: auto;
      color: var(--color-black-4);
    }
  }
}
