.wrapper {
  display: block;

  .selected {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: transparent;
    cursor: pointer;

    .info {
      margin-left: 16px;
    }

    .arrow-icon {
      margin-left: auto;
      color: var(--color-black-4);
    }
  }
}

:global(.dropdown-wrap ul) {
  background-color: var(--color-black-7) !important;
}

:global(.dropdown-wrap ul span) {
  color: var(--color-white) !important;
}
