@mixin theme-light {
  --content-primary: #51fc8f;
  --content-secondary: #ef2240;
  --content-tertiary: #efafff;
  --content-white: #ffffff;
  --content-dark: #000000;
  --content-dark-20: #61393933;
  --content-dark-40: #00000066;
  --content-dark-60: #00000099;
  --content-dark-03: #00000008;
  --content-dark-08: #00000014;
  --content-dark-04: #0000000a;
  --content-dark-25: #00000040;
  --content-dark-15: #00000026;
  --content-dark-10: #0000001a;
  --content-dark-8: #000000cc;
  --note-icon-color: #00000099;
  --info-popover-border: #ffffff33;
  --surface-background: #eeeeee;
  --background-border: #aabbaa;
  --status-green: #219727;
  --status-orange: #967621;
  --status-red: #962121;
  --status-green-light: #60ff8315;
  --status-orange-light: #ffd36026;
  --status-red-light: #fc575826;
  --tag-bg-red: #fc575826;
  --tag-bg-orange: #ffd36026;
  --tag-bg-green: #e7ffec;
  --tag-bg-blue: #e6f3f7;
  --tag-bg-gray: #00000014;
  --tag-color-red: #962121;
  --tag-color-orange: #967621;
  --tag-color-green: #219626;
  --tag-color-blue: #217a96;
  --tag-color-gray: #000000;
  --shadow-overlay: 0 8px 20px #00000010;
  --tag-blue: #217a96;
  --warning-color: #ffd360;
  --select-input: #00000033;
  --select-input-active: #51fc8f4d;
  --button-background: #f8f8f8;
  --button-background-purple: #635bff;
  --border-color: #00000014;
  --border-list-green: #60ff8326;
  --select-placeholder-color: #00000033;
  --input-error-color: #fc5758;
  --steps-background: #f2f2f2;
  --icon-note-hover: #d9d9d9;
  --list-disabled-color: #00000033;
}
