@mixin theme-light {
  --color-white: #ffffff;
  --color-green-1: #f7fdf4;
  --color-green-2: #edfbe6;
  --color-green-3: #dbf7cd;
  --color-green-4: #c8f4b4;
  --color-green-5: #b6f09c;
  --color-green-6: #9ad37f;
  --color-green-7: #739f5f;
  --color-green-8: #4d6a3f;
  --color-green-9: #263520;
  --color-black-1: #e8e9e9;
  --color-black-2: #cdcecf;
  --color-black-3: #9b9c9e;
  --color-black-4: #686b6e;
  --color-black-5: #363a3d;
  --color-black-6: #1a1d21;
  --color-black-7: #131619;
  --color-black-8: #0d0f10;
  --color-black-9: #060708;
  --color-blue-1: #ebedfc;
  --color-blue-2: #d2d8f9;
  --color-blue-3: #a6b0f2;
  --color-blue-4: #7989ec;
  --color-blue-5: #4d62e5;
  --color-blue-6: #3045c9;
  --color-blue-7: #243497;
  --color-blue-8: #182364;
  --color-blue-9: #0c1132;
  --color-purple-1: #f0e8fd;
  --color-purple-2: #deccfb;
  --color-purple-3: #bd9af8;
  --color-purple-4: #9c67f4;
  --color-purple-5: #7c35f1;
  --color-purple-6: #5f18d4;
  --color-purple-7: #47129f;
  --color-purple-8: #300c6a;
  --color-purple-9: #180635;
  --color-sunglow-1: #fffaea;
  --color-sunglow-2: #fff3d1;
  --color-sunglow-3: #ffe8a3;
  --color-sunglow-4: #ffdc75;
  --color-sunglow-5: #ffd147;
  --color-sunglow-6: #e2b42b;
  --color-sunglow-7: #aa8720;
  --color-sunglow-8: #715a15;
  --color-sunglow-9: #392d0b;
  --color-heisenberg-1: #f1fbfe;
  --color-heisenberg-2: #e0f6fd;
  --color-heisenberg-3: #c0edfb;
  --color-heisenberg-4: #a1e4f9;
  --color-heisenberg-5: #82dbf7;
  --color-heisenberg-6: #65beda;
  --color-heisenberg-7: #4c8fa4;
  --color-heisenberg-8: #335f6d;
  --color-heisenberg-9: #193037;
  --color-happy-orange-1: #fff2e9;
  --color-happy-orange-2: #e26f20;
  --color-happy-orange-3: #391c08;
  --color-electric-green-1: #f3fbf7;
  --color-electric-green-2: #4ac97e;
  --color-electric-green-3: #122b1d;
  --color-red-power-1: #fbecec;
  --color-red-power-2: #d0302f;
  --color-red-power-3: #2f0f0e;
}
